
.l-wrapper {
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  .l-contents {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 1180px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .l-sidebar {
    width: 250px;
  }
  .l-main {
    width: 900px;
  }
  .l-footer {
    margin-right: auto;
    margin-left: auto;
  }
}

.page-top {
  position: fixed;
  bottom: 5px;
  right: 10px;
}
